*{
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 60px;
    width: 100%;
    border: 1px solid #f7efef;
    position: relative;
    background-color: white;
    
}

#heading1{
    color: rgb(60, 191, 243);
    font-size: 30px;
    position:absolute;
    left: 10%;
    top: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

#icon1{
    border: 1px solid #ebe4e4;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 40%;
    top: 15%;
    color:rgb(27, 201, 232);
    font-size: 20px;
}

#location{
    position: absolute;
    left: 44%;
    bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
    
}

#icon2{
    border: 1px solid #ebe4e4;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 60%;
    top: 15%;
    color:rgb(27, 201, 232);
    font-size: 20px;
}

#contact{
    position: absolute;
    left: 64%;
    bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
}

#icon3{
    border: 1px solid #ebe4e4;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 79%;
    top: 15%;
    color:rgb(27, 201, 232);
    font-size: 20px;
}

#time{
    position: absolute;
    left: 83%;
    bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
}

.nav{
    height: 80px;
    width: 100%;
    background-color: rgb(6, 6, 94);
    border: 1px solid #000;
    display: flex;
    align-items: center;
    

    
    

    a{
    text-decoration: none;
    color: aliceblue;
    text-transform: capitalize;
    font-size: 18px;
    }

    li {
        list-style: none;
        color: aliceblue;
      }

      .menu {
        display: inline-block;
        padding: 10px 10px;
        text-align: center;
      }


      .item {
        display: none;
        position: absolute;
        padding: 20px;
        border-radius: 10px;
        background-color: blueviolet;
      }


      .dropdown:hover .item {
        display: block;
        z-index: 10;
      }

      

}
.banner{
    background-image: url(./images/slider1.jpg);
    height: 600px;
    width: 100%;
    border: 1px solid #000;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#bannertxt{
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 25%;
    left: 10%;
}



#medi{
    color:rgb(27, 201, 232); 
    position: absolute;
    left: 10%;
    top:22% ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#lm{
    height: 40px;
    width: 100px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    left: 10%;
    color: white;
    cursor: pointer;
}

#appointment{
    height: 40px;
    width: 170px;
    background-color: rgb(27, 201, 232);
    color: white;
    border: none;
    position: absolute;
    top: 55%;
    left: 18%;
    font-size: 14px;
    cursor: pointer;
}

#appointment:hover{
    color: rgb(81, 81, 242);
    transition: 3s;
}

.banner-cards{
    height: 400px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card1{
    height: 250px;
    width: 400px;  
    background-color: #14cdca;
    position: relative;
    
}


#timelogo{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: white;
    color:rgb(27, 198, 228);
    position: absolute;
    left: 40%;
    top: 10%;
}

#timing{
    position: absolute;
    top: 25%;
    left: 23%; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#days{
    position: absolute;
    top: 52%;
    left: 2%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}

#times{
    position: relative;
    left: 250px;
    top: 150px;
    color: white;

    
}



.card2{
    height: 250px;
    width: 400px;
    background-color: #2ddbd8;
    position: relative;
    
    
}

   .calllogo{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: white;
    color:rgb(27, 198, 228);
    position: absolute;
    left: 40%;
    top: 10%;
   }

   #call{
    position: absolute;
    top: 25%;
    left: 23%; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
   }

   #ph{
     font-family: Arial, Helvetica, sans-serif;
     position: absolute;
     top: 55%;
     color: white;
     left: 2%;
   }

   #mbno{
    position: absolute;
    right: 2%;
    top: 65%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   }

   #email{
      position: absolute;
      top: 70%;
      left: 2%;
      color: white;
   }

   #id{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 80%;
    color: white;
    right: 2%;
   }

   .navicon{
       color: white;
       position: absolute;
       top: 92%;
       left: 33%;
       word-spacing: 10px;
       
   }

.card3{
        height: 250px;
        width: 400px;
        background-color: rgb(8, 171, 235);
        position: relative;
        
    
    }

    .heartbeat{
     height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: white;
    color:rgb(27, 198, 228);
    position: absolute;
    left: 40%;
    top: 10%;
    }

#support{
    position: absolute;
    top: 25%;
    left: 23%; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#content{
    position: absolute;
    top: 50%;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

 
/* about us */

.about-banner {
    display: flex;
    justify-content: center;
    margin: 5% 0%;
    margin-top: 5%;
    
  }
  
  .about {
    height: 500px;
    width: 90%;
    display: flex;
    justify-content: space-around;
      position: relative;
      
  }
  
  .about > img {
    height: 500px;
    width: 500px;
  }
  
  #about-desc > li {
    color: black;
    font-size: larger;
  }
  
  #about-content {
    margin: 2% 3%;
    width: 500px;
    height: 500px;
  }
  
  #about-heading > h3 {
    color: aqua;
    font-size: x-large;
    text-transform: capitalize;
    position: absolute;
    top: -3%;
    left: 0%;
  }
  
  #about-content > button {
    background-color: aqua;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
  }
   
 


.container3{
    height: 750px;
    width: 100%;
    background-color:   #f2fbff;
    display: flex;
    position: relative;
    
}

h3{
    position: absolute;
    left: 10%;
    top: 18%;
    color:rgb(27, 198, 228); 
    line-height: 1px;
}

h1{
    position: absolute;
    left: 10%;
    top: 20%;
    font-size: 30px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    
}

.our-doctors{
    display: flex;
    justify-content: center;
    align-items: center;
}

.doctors-card1{
    height: 380px;
    width:266px ;
    background-color:white;
    transform: translateY(40%) translateX(60%);
   
}
   

.doctors-card2{
    height: 380px;
    width:266px ;
    background-color: white;
    transform: translateY(40%) translateX(60%);
    margin-left: 20px;
}

.doctors-card3{
    height: 380px;
    width:266px ;
    background-color: white;
    transform: translateY(40%) translateX(60%);
    margin-left: 20px;
    
}

.doctors-card4{
    height: 380px;
    width:266px ;   
    background-color: white;
    transform: translateY(40%) translateX(60%);
    margin-left: 20px;

} 


#doctors-name{
    color: rgb(114, 112, 112);
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#doctors-desc{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.social-media{
    color: rgb(27, 198, 228); 
    font-size: 18px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly
}

/* facilities */

.doctors-banner {
    display: flex;
    background-color: rgb(219, 219, 219);
    justify-content: center;
    margin: 10% 0%;
    height: 500px;
    width: 100%;
    background-image: url('./images/skill_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  
  
  .skills {
    background-color:transparent;
    color: white;
    padding: 40px;
    margin: 30px 0px;
    width: 600px;
    margin-left: 950px;
    position: relative;
    
  }
  
  .skill-set{
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
  }


  .skill-box-1{
    position: absolute;
    left: 10%;
  }

  .skill-box-2{
    position: absolute;
    left: 50%;
    bottom: 9%;

  }

  #txt{
    font-size: 30px;
  }

  #icons{
    color: rgb(27, 198, 228); 
    font-size: 18px;
  }
  
    
#p{
    font-size: 18px
}


.news{
    height: 600px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    
    
}

#our{
    text-align: center;
    color: rgb(27, 198, 228); 
    font-size: x-large;

}

#nl{
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.box-1{
    height: 200px;
    width: 500px;
    position: absolute;
    left: 16%;
    top: 30%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color:   #f2fbff;

}

#box-topic{
    position: relative;
    bottom: 178px;
    left: 10px;
    font-size: 18px;

}

#lorem{
    position: absolute;
    left: 43%;
    top: 25%;
    color: gray;
    
}

#box-btn{
    color: white;
    background-color: rgb(27, 198, 228); 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 43%;
    bottom: 10%;
}

.box-2{
    height: 200px;
    width: 500px;
    position: absolute;
    left: 51%;
    top: 30%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color:   #f2fbff;
    
}

#box-topic{
    position: relative;
    bottom: 178px;
    left: 10px;
    font-size: 18px;

}

#lorem{
    position: absolute;
    left: 43%;
    top: 25%;
    color: gray;
    
}

#box-btn{
    color: white;
    background-color: rgb(27, 198, 228); 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 43%;
    bottom: 10%;
}





.box-3{
    height: 200px;
    width: 500px;
    position: absolute;
    left: 16%;
    bottom: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color:   #f2fbff;
    
}

#box-topic{
    position: relative;
    bottom: 178px;
    left: 10px;
    font-size: 18px;

}

#lorem{
    position: absolute;
    left: 43%;
    top: 25%;
    color: gray;
    
}

#box-btn{
    color: white;
    background-color: rgb(27, 198, 228); 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 43%;
    bottom: 10%;
    
}


.box-4{
    height: 200px;
    width: 500px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;
    left: 51%;
    bottom: 0;
    background-color:   #f2fbff;
    
}

#box-topic{
    position: relative;
    bottom: 178px;
    left: 10px;
    font-size: 18px;

}

#lorem{
    position: absolute;
    left: 43%;
    top: 25%;
    color: gray;
    
}

#box-btn{
    color: white;
    background-color: rgb(27, 198, 228); 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 43%;
    bottom: 10%;
}


.testinomial{
    margin-top: 100px;
    height: 500px;
    width: 100%;
    background-color: #f2fbff;
    display: flex;
    position: relative;

}

.maintxt{
    
    margin-top: 50px;
    margin-left: 140px;
}

#tst{
    color:rgb(27, 198, 228);  
    font-size: x-large;
}

#op{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}




.test-card-1{
    height: 200px;
    width: 300px;
    border: 2px solid #727272;
    position: absolute;
    top: 45%;
    right: 70%;
    
}

#tst-img{
    height: 80px;
    width: 80px;
    border: 6px solid rgb(27, 198, 228);  
    border-radius: 50%;
    position: absolute;
    left: 35%;
    bottom: 80%;
}

.test-card-2{
    height: 200px;
    width: 300px;
    border: 2px solid #7f7d7d;
    position: absolute;
    top: 45%;
    left: 33%;
}

.test-card-3{
    height: 200px;
    width: 300px;
    border: 1px solid #000;
    position: absolute;
    top: 45%;
    left:55% ;
}


#card-topic{
    margin-top: 60px;
    text-align: center;
}

#card-lorem{
    text-align: center;
}



.location-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin:50px;
}

.map-container{
    height: 480px;
    width: 100%;
    border: none;
    position: relative;
}
.our-location{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10% 0%;
    

}

.location-heading>h2{
    color: rgb(27, 198, 228);
    text-transform: capitalize;

}

.location-heading>p{
    font-size: 33px;
    text-transform: capitalize;
}

.forms{
 position: relative;
  background-color: rgb(229, 253, 253);
  text-align: center;
  height: 400px;
  width: 700px;
  padding: 30px;
  border-radius: 20px;
}

.forms>input{
    padding: 10px 20px;
    margin: 5px 0px;
    text-transform: capitalize;
    border-radius: 10px;
    border: none;
  } 

  .forms>input:nth-child(12){
    background-color: rgb(27, 198, 228); 
    color: white;
     border: none;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
  }



  .footer-main-container{
    display: flex;
    justify-content: space-evenly;
    background-color: darkblue;
    background-image: url('https://www.ovationthemes.com/demos/medical-care-pro/wp-content/themes/medical-pro/assets/images/footer_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: contain;
    color: white;
    height: 400px;
    width: 100%;
   }
  
   footer h2{
    text-transform: capitalize;
    padding-bottom: 20px;
   }
  
   footer p{
    font-size: large;
   }
  
   #medisupport{
     width: 400px;
     height: 300px;
     padding: 30px;
     
   }
  
   #medisupport>i{
    font-size: large;
   }
  
   #our-gallery{
    width: 400px;
    height: 300px;
    padding: 30px;
   }
  
   #gallery>img{
     width: 100px;
     height: 100px;
     border-radius: 10px;
   }
  
   #contact-us{
    width: 400px;
    height: 300px;
    padding: 30px;
    line-height: 40px;
   }
  
   #newsletter{
    width: 400px;
    height: 300px;
    padding: 30px;
   }
  
  .news-forms>input{
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
  }

  .news-forms>input:nth-child(4){
    background-color: rgb(27, 198, 228); 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
  }

  .copyright{
    height: 60px;
    width: 100%;
    background-color: rgb(27, 198, 228); 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }



@media (max-width:600px) { 

    .navbar{
        height: 60px;
        width: 665px;
        border: 1px solid #f7efef;
        position: relative;
        background-color: white;
        
    }
    
    #heading1{
        color: rgb(60, 191, 243);
        font-size: 18px;
        position:absolute;
        left: 2%;
        top: 30%;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #icon1{
        border: 1px solid #ebe4e4;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 25%;
        top: 28%;
        color:rgb(27, 201, 232);
        font-size: 10px;
        
    }
    
    #location{
        position: absolute;
        left: 29%;
        bottom: 16px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 15px;
        font-size: 9px;
        
    }
    
    #icon2{
        border: 1px solid #ebe4e4;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 46%;
        top: 28%;
        color:rgb(27, 201, 232);
        font-size: 9px;
    }
    
    #contact{
        position: absolute;
        left: 50%;
        bottom: 18px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 15px;
        font-size: 9px;
    }
    
    #icon3{
        border: 1px solid #ebe4e4;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 65%;
        top: 28%;
        color:rgb(27, 201, 232);
        font-size: 9px;
    }
    
    #time{
        position: absolute;
        left: 69%;
        bottom: 18px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 15px;
        font-size: 9px;

    }

    .nav{
        height: 50px;
        width: 665px;
        background-color: rgb(6, 6, 94);
        border: 1px solid #000;
        display: flex;
        align-items: center;
        
    
        a{
        text-decoration: none;
        color: aliceblue;
        text-transform: capitalize;
        font-size: 15px;
        }
    
        li {
            list-style: none;
            color: aliceblue;
          }
    
          .menu {
            display: inline-block;
            padding: 10px 10px;
            text-align: center;
          }
    
    
          .item {
            display: none;
            position: absolute;
            padding: 20px;
            border-radius: 10px;
            background-color: blueviolet;
            font-size: 10px;
          }
    
    
          .dropdown:hover .item {
            display: block;
            z-index: 10;
          }
    
          
    
    }
    .banner{
        background-image: url(https://www.ovationthemes.com/demos/medical-care-pro/wp-content/themes/medical-pro/assets/images/slides/slider2.jpg);
        height: 200px;
        width: 665px;
        border: 1px solid #000;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
        
    }
    
    #bannertxt{
        color: white;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        top: 25%;
        left: 9%;
    }
    
    
    
    #medi{
        color:rgb(27, 201, 232); 
        position: absolute;
        left: 9%;
        top:16% ;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
    }
    
    #lm{
        height: 20px;
        width: 50px;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 48%;
        left: 9%;
        color: white;
        cursor: pointer;
        font-size: 8px;
    }
    
    #appointment{
        height: 28px;
        width: 130px;
        background-color: rgb(27, 201, 232);
        color: white;
        border: none;
        position: absolute;
        top: 48%;
        left: 19%;
        font-size: 10px;
        cursor: pointer;
    }
    
    #appointment:hover{
        color: rgb(81, 81, 242);
        transition: 3s;
    }


    .banner-cards{
        height: 500px;
        width: 665px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position: relative;
    
    }
    
    .card1{
        height: 250px;
        width: 300px;  
        background-color: #14cdca;
        position: absolute;
        top: 10%;
        border-radius: 10px;
        
    }
    
    
    #timelogo{
        height: 50px;
        width: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        background-color: white;
        color:rgb(27, 198, 228);
        position: absolute;
        left: 40%;
        top: 10%;
    }
    
    #timing{
        position: absolute;
        top: 30%;
        left: 32%; 
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    
    #days{
        position: absolute;
        top: 55%;
        left: 2%;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
        font-size: 15px;
    }
    
    #times{
        position: relative;
        left: 160px;
        top: 160px;
        color: white;
        font-size: 15px;
    
        
    }
    
    
    
    .card2{
        height: 220px;
        width: 300px;
        background-color: #2ddbd8;
        position: absolute;
        left: 27%;
        top: 70%;
        border-radius: 10px;
    }
    
       .calllogo{
        height: 50px;
        width: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        background-color: white;
        color:rgb(27, 198, 228);
        position: absolute;
        left: 40%;
        top: 10%;
       }
    
       #call{
        position: absolute;
        top: 30%;
        left: 33%; 
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
       }
    
       #ph{
         font-family: Arial, Helvetica, sans-serif;
         position: absolute;
         top: 50%;
         color: white;
         left: 2%;
         font-size: 15px;
       }
    
       #mbno{
        position: absolute;
        right: 2%;
        top: 58%;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
       }
    
       #email{
          position: absolute;
          top: 65%;
          left: 2%;
          color: white;
          font-size: 15px;
       }
    
       #id{
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        top: 70%;
        color: white;
        right: 2%;
        font-size: 15px;
       }
    
       .navicon{
           color: white;
           position: absolute;
           top: 85%;
           left: 25%;
           word-spacing: 10px;
           
       }
    
    .card3{
            height: 250px;
            width: 300px;
            background-color: rgb(8, 171, 235);
            position: absolute;
            left: 27%;
            top: 120%;
            border-radius: 10px;
        }
    
        .heartbeat{
         height: 50px;
        width: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        background-color: white;
        color:rgb(27, 198, 228);
        position: absolute;
        left: 40%;
        top: 10%;
        }
    
    #support{
        position: absolute;
        top: 30%;
        left: 32%; 
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    
    #content{
        position: absolute;
        top: 50%;
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
   
    .about-banner{
        width: 665px;
        margin-top: 420px;
        margin-left: 5%;
        
    }


     .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 600px;
        height: 800px;
        font-size: 12px;
    
        
     }
   
    .container3{
        height: 1350px;
        width: 665px;
        background-color:   #f2fbff;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 10%;
        justify-content: center;
        align-items: center;
    
        
    }
    
    h3{
        position: absolute;
        left: 35%;
        top: 2%;
        color:rgb(27, 198, 228); 
        font-size: 25px;
        align-items: center;
    }
    
    h1{
        position: absolute;
        left: 35%;
        top: 5%;
        font-size: 25px;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
        
    }

    .our-doctors{
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 665px;
    }
    
    .doctors-card1{
        height: 240px;
        width:160px ;
        background-color:white;
        position: absolute;
        right: 55%;
        top: 6%;
       
    }
       
    
    .doctors-card2{
        height: 240px;
        width:160px ;
        background-color: white;
        position: absolute;
        right:55%;
        top: 28%;
        
    
    }
    .doctors-card3{
        height: 240px;
        width:160px;
        background-color: white;
        position: absolute;
        top: 51%;
        right: 55%;
        
        
    }
    
    .doctors-card4{
        height: 240px;
        width:160px ;   
        background-color: white;
        position: absolute;
        top: 74%;
        right: 55%;
    
    
    }
    
    
    #doctors-name{
        color: rgb(114, 112, 112);
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    
    #doctors-desc{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 9px;
        display: none;;
    }
    
    
    .social-media{
        color: rgb(27, 198, 228); 
        font-size: 10px;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        display: none;
    }
    
    /* facilities */
    
    .doctors-banner {
        display: flex;
        background-color: rgb(219, 219, 219);
        justify-content: center;
        margin: 10% 0%;
        height: 160px;
        width: 665px;
        background-image: url('https://www.ovationthemes.com/demos/medical-care-pro/wp-content/themes/medical-pro/assets/images/skill_bg.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-top: 20%;
      }
      
    
      
      
      .skills {
        background-color:transparent;
        color: rgb(21, 20, 20);
        padding: 40px;
        margin: 30px 0px;
        width: 600px;
        margin-left: 90px;
        margin-top: 20%;
        position: relative;
        
      }
      
      .skill-set{
        display: flex;
        justify-content: space-evenly;
        font-size: x-large;
      }
    
    
      .skill-box-1{
        position: absolute;
        left: 10%;
        
      }
    
      .skill-box-2{
        position: absolute;
        left: 50%;
        top: 210%;
    
    
      }
    
      #txt{
        font-size: 30px;
      }
    
      #icons{
        color: rgb(27, 198, 228); 
        font-size: 18px;
      }
      
        
    #p{
        font-size: 18px
    }
    
    
    .news{
        height: 1100px;
        width: 665PX;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        position: relative;
        margin-top: 100%;
        
        
    }
    
    #our{
        text-align: center;
        color: rgb(27, 198, 228); 
        font-size: x-large;
        font-size: 25px;
    
    }
    
    #nl{
        display: flex;
        justify-content: center;
        font-size: x-large;
        font-size: 28px;
    }
    
    .box-1{
        height: 200px;
        width: 500px;
        position: absolute;
        left: 10%;
        top: 13%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color:   #f2fbff;
    
    }
    
    #box-topic{
        position: relative;
        bottom: 178px;
        left: 10px;
        font-size: 10px;
    
    }
    
    #lorem{
        position: absolute;
        left: 43%;
        top: 10%;
        color: gray;
        font-size: 12px;
        
    }
    
    #box-btn{
        color: white;
        background-color: rgb(27, 198, 228); 
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 43%;
        bottom: 20%; 
        font-size: 10px;
    }    
    .box-2{
        height: 200px;
        width: 500px;
        position: absolute;
        left: 10%;
        top: 34%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color:   #f2fbff;
        
    }
    
    #box-topic{
        position: relative;
        bottom: 178px;
        left: 10px;
        font-size: 18px;
    
    }
    
    #lorem{
        position: absolute;
        left: 43%;
        top: 25%;
        color: gray;
        
    }
    
    #box-btn{
        color: white;
        background-color: rgb(27, 198, 228); 
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 43%;
        bottom: 10%;
    }
    
    
    
    
    
    .box-3{
        height: 200px;
        width: 500px;
        position: absolute;
        left: 10%;
        top: 55%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color:   #f2fbff;
        
    }
    
    #box-topic{
        position: relative;
        bottom: 178px;
        left: 10px;
        font-size: 18px;
    
    }
    
    #lorem{
        position: absolute;
        left: 43%;
        top: 25%;
        color: gray;
        
    }
    
    #box-btn{
        color: white;
        background-color: rgb(27, 198, 228); 
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 43%;
        bottom: 10%;
        
    }
    
    
    .box-4{
        height: 200px;
        width: 500px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        position: absolute;
        left: 10%;
        top: 75%;
        background-color:   #f2fbff;
        
    }
    
    #box-topic{
        position: relative;
        bottom: 178px;
        left: 10px;
        font-size: 18px;
    
    }
    
    #lorem{
        position: absolute;
        left: 43%;
        top: 25%;
        color: gray;
        
    }
    
    #box-btn{
        color: white;
        background-color: rgb(27, 198, 228); 
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 43%;
        bottom: 10%;
    }
    
    
    .testinomial{
        margin-top: 100px;
        height: 1000px;
        width: 665px;
        background-color: #f2fbff;
        display: flex;
        position: relative;
    
    }
    
    .maintxt{
        margin-top: 50px;
        margin-left: 240px;
    }
    
    #tst{
        color:rgb(27, 198, 228);  
        font-size: 35px;
        position: absolute;
        left: 32%;
        top:0%
    }
    
    #op{
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        position: absolute;
        top: 10%;
        left: 35%;
    }
    
    
    
    
    .test-card-1{
        height: 200px;
        width: 300px;
        border: 2px solid #727272;
        position: absolute;
        top: 25%;
        right: 30%;
        
    }
    
    #tst-img{
        height: 80px;
        width: 80px;
        border: 6px solid rgb(27, 198, 228);  
        border-radius: 50%;
        position: absolute;
        left: 35%;
        bottom: 80%;
    }
    
    .test-card-2{
        height: 200px;
        width: 300px;
        border: 2px solid #7f7d7d;
        position: absolute;
        top: 50%;
        left: 25%;
    }
    
    .test-card-3{
        height: 200px;
        width: 300px;
        border: 1px solid #000;
        position: absolute;
        top: 75%;
        left:25% ;
    }
    
    
    #card-topic{
        margin-top: 60px;
        text-align: center;
    }
    
    #card-lorem{
        text-align: center;
    }
    
    
    
    .location-heading{
       width: 250px;
       margin-left: 10%;
       
    }
    .our-location{
        display: flex;
        height: 700px;
        width: 100px;
        flex-direction: column;
        position: absolute;
        left: 41%;
    }
    
    .location-heading>h2{
        color: rgb(27, 198, 228);
        text-transform: capitalize;
        margin-left: 100%;
    }

    .map-container{
       width: 665px;
       height: 100px;
    
    }
    
    .location-heading>p{
        font-size: 38px;
        text-transform: capitalize;
        margin-left: 100%;
    }
    
    .forms{
      position:relative;
      background-color: rgb(229, 253, 253);
      text-align: center;
      height: 400px;
      width: 500px;
      padding: 30px;
      border-radius: 20px;
      margin-top: 15%;
;
    }
    
    .forms>input{
        padding: 10px 20px;
        margin: 5px 0px;
        text-transform: capitalize;
        border-radius: 10px;
        border: none;
      } 
    
      .forms>input:nth-child(12){
        background-color: rgb(27, 198, 228); 
        color: white;
         border: none;
         font-family: Arial, Helvetica, sans-serif;
         font-weight: bold;
      }
    
    
    
      .footer-main-container{
        display: flex;
        background-color: darkblue;
        background-image: url('https://www.ovationthemes.com/demos/medical-care-pro/wp-content/themes/medical-pro/assets/images/footer_bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: contain;
        color: white;
        height: 500px;
        width: 665px;
        position: relative;
        margin-top: 700px;
        
        

       }
      
       footer h2{
        text-transform: capitalize;
        padding-bottom: 20px;
        font-size: 10px;
       }
      
       footer p{
        font-size: large;
       }
      
       #medisupport{
         width: 400px;
         height: 300px;
         padding: 30px;
         font-size: 12px;
         
       }
      
       
      
       #our-gallery{
        width: 200px;
        height: 200px;
        padding: 30px;
        font-size: 12px;
       }
      
       #gallery>img{
         width: 60px;
         height: 60px;
         border-radius: 10px;
       }
      
       #contact-us{
        position: absolute;
        top: 50%;
        left: 65%;
        width: 200px;
        height: 300px;
        padding: 30px;
        line-height: 18px;
        font-size: 12px;
       }
      
       #newsletter{
       position: absolute;
        top: 51%;
        left: 2%;
        width: 400px;
        height: 300px;
        padding: 30px;
        font-size: 9px;
        box-sizing: border-box;
       }
      
      .news-forms>input{
        position: absolute;
        left: 5%;
        padding: 10px;
        border-radius: 10px;
        border: none;
        width: 150px;

      }
    
      .news-forms>input:nth-child(4){
        background-color: rgb(27, 198, 228); 
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        cursor: pointer;
        margin-top: 50px;
      }
    
      .copyright{
        height: 60px;
        width: 665PX;
        background-color: rgb(27, 198, 228); 
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        
    
      }
    
     
    }

